{{>header}}
    <div class="container pt-3"><br>
        <form method="POST" action="/ticket/update/{{ticket._id}}">
            <fieldset>
                <legend>{{page_title}}</legend><br><br>
                {{#if messages.error }}
                    <div class="col-lg-6 alert alert-danger">
                        {{messages.error}}
                    </div>
                {{/if }}
                     
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="form3Example3">Title</label>
                            <input type="text" name="title" value="{{ticket.title}}" class="form-control"
                    placeholder="Enter Title" />
                        </div>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="form3Example3">Description</label>
                            <textarea class="form-control" name="description" id="" cols="30" 
                            rows="10">{{ticket.description}}</textarea>
                        </div>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="form3Example3">Assigned To</label>
                            {{#select ticket.assignedto}}
                            <select name="assignedto" id="assignedto" class="form-control"> 
                                {{#each user}}
                                    <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                            {{/select}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="form3Example3">Status</label>
                            {{#select ticket.status}}
                            <select name="status" id="status" class="form-control"> 
                                <option value="Pending">Pending</option>
                                <option value="Completed">Completed</option>
                            </select>
                            {{/select}}
                        </div>
                    </div>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>
            </fieldset>
        </form>
    </div>
{{>footer}}