{{>header}}
    <div class="container"><br>
        <div>
            <div class="float-left">
                <h2>{{page_title}}</h2><br>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th class="th-lg">Title</th>
                        <td>{{ticket.title}}</td>
                    </tr>
                    <tr>
                        <th class="th-lg">Description</th>
                        <td>{{ticket.description}}</td>
                    </tr>
                    <tr>
                        <th class="th-lg">Assinged By</th>
                         <td>{{ticket.owner.name}}</td>
                    </tr>
                    <tr>
                        <th class="th-lg">Assinged To</th>
                        <td>{{ticket.assignedto.name}}</td>
                    </tr>
                    <tr>
                        <th class="th-lg">Status</th>
                        <td>{{ticket.status}}</td>
                    </tr>
                    <tr>
                        <th class="th-lg">Snaps</th>
                        <td>
                        {{#ticket.files}}
                            <img class="ticket-images" src="{{url}}">    
                        {{else}}
                            No Snaps Available
                        {{/ticket.files}} 
                        </td>

                    </tr>
                </tbody>
            </table>

            <!-- The Modal -->
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                {{!-- <div id="caption"></div> --}}
            </div>
        </div>
    </div>
{{>footer}}